body {
}

.conjunto_botn_imgperfil{ /*Para controlar la imagen de perfil y el botón reportar*/
    position:absolute;
    width:45%;
    height:90%;
    top:20%;
}

.espacio_img_perfil {
    width:30%;
    height:30%;
    position:absolute;
    top:5%;
    left:25%;
}
#imagen_de_perfil{
    width:100%;
    height:100%;
}

.espacio_boton {

    width:18%;
    height:8%;
    position:absolute;
    left:53%;
    bottom:90%
}

.boton_reportar {
    border-style:double;
    width:100%;
    height:100%;
    position: absolute;
}

/***********************************************************************************/
#apodo_usuario{
    width:80%;
    position:absolute;
    bottom:58%;
    left:5%;
}

#nombre_usu {
    width: 40%;
    position: absolute;
    bottom: 50%;
    left: 5%;
}

#apellidos_usu {
    width: 40%;
    position: absolute;
    bottom: 50%;
    left: 45%;
}

#texto_cal {
    width: 40%;
    position: absolute;
    bottom: 40%;
    left: 5%;
}

#promedio_estrellas {
    width: 40%;
    position: absolute;
    bottom: 40%;
    left: 45%;
}

#descripcion {
    width: 80%;
    height:20%;
    position: absolute;
    bottom: 15%;
}
#calificar_usu {
    position: absolute;
    bottom: 5%;
    width: 80%;
}
/***********************************************************************************/
.cursos_creados{
    position:absolute;
    right:10%
}
