/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/

/*-- Reset Code --*/

body {
    padding: 0;
    margin: 0;
    background: #FFF;
    font-family: 'Open Sans', sans-serif;
}

    body a {
        transition: 0.5s all;
        -webkit-transition: 0.5s all;   
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
        text-decoration: none;
    }

        body a:hover {
            text-decoration: none;
            transition: 0.5s all;
            -webkit-transition: 0.5s all;
            -moz-transition: 0.5s all;
            -o-transition: 0.5s all;
        }

        body a:focus,
        a:hover {
            text-decoration: none;
        }

input[type="button"],
input[type="submit"] {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}

h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}

p {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 1.9;
    color: #999;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

label {
    margin: 0;
}

a:focus,
a:hover {
    text-decoration: none;
    outline: none
}

/*-- //Reset Code --*/

/*-- header --*/

/*-- navigation --*/

.navbar-light .navbar-brand {
    font-size: 48px;
    padding: 0;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    letter-spacing: 2px;
}

a.navbar-brand span,
.w3l-footer h1 a span {
    color: #000
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    padding: 0 1rem;
    background: #eee;
    box-shadow: 1px 2px 2px 1px rgba(12, 12, 12, 0.11);
}

.bg-light {
    background-color: rgba( 72, 186, 127, 0.75) !important;
}

.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    letter-spacing: 1px;
    padding: 26px 20px;
    font-size: 15px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}

    .navbar-light .navbar-nav .show > .nav-link,
    .navbar-light .navbar-nav .active > .nav-link,
    .navbar-light .navbar-nav .nav-link.show,
    .navbar-light .navbar-nav .nav-link.active {
        color: #000;
        background: #fff;
    }

    .navbar-light .navbar-nav .nav-link:hover,
    .navbar-light .navbar-nav .nav-link:focus {
        color: #000;
        background: #fff;
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
    }

/*-- //navigation --*/

/*-- //header --*/

/* banner */

.banner-inicio,
.banner-segundo,
.banner-tercero,
.banner-cuarto,
.banner-fin,
.banner-agile {
    min-height: 780px;
}

.banner-inicio {
    background: url(../img/inicio.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.banner-segundo {
    background: url(../img/segundo.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.banner-tercero {
    background: url(../img/tercero.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.banner-cuarto {
    background: url(../img/inicio.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.banner-fin {
    background: url(../img/segundo.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* slider */

.slider {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

    .slider li {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        width: 0vw;
        overflow: hidden;
        transition: width 800ms cubic-bezier(0.95, 0.05, 0.795, 0.035);
    }

        .slider li.active {
            z-index: 2;
            width: 100%;
        }

        .slider li.prev {
            z-index: 1;
            width: 100%;
        }

.pager {
    z-index: 100;
    position: absolute;
    bottom: 150px;
    left: 47%;
    margin: 0;
    padding: 0;
    list-style: none;
}

    .pager li {
        display: inline-block;
        border: 2px solid #fff;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: transparent;
        cursor: pointer;
    }

        .pager li.active {
            background: linear-gradient(to right, #a400fd, #a400fd);
        }

/* //slider */

/* banner text */

.banner-agile {
    position: relative;
}

.banner-texto-posicion {
    position: absolute;
    z-index: 999;
    left: 17%;
    top: 37%;
}

.banner-texto h3 {
    font-size: 50px;
    letter-spacing: 1px;
    font-weight: 500;
    font-style: italic;
}

.banner-texto p {
    width: 67%;
}
/* //banner text */

/* //banner */

h5.card-title {
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 1em;
    color: #a400fd;
    font-weight: 600;
}

p.card-text {
    color: #777;
    font-size: 15px;
    line-height: 1.8em;
    letter-spacing: 1px;
}

.card-body.w3ls-card a {
    font-size: 14px;
    padding: 8px 18px;
    background: #a400fd;
    outline: none;
    border: none;
    display: inline-block;
    letter-spacing: 2px;
}

footer {
    background-color: #0e0f10;
}

    footer h3 {
        font-size: 1.5em;
        color: #ffffff;
        margin-bottom: 20px;
        letter-spacing: 1px;
    }

    footer p {
        color: #bfbfbf;
        font-size: 15px;
        line-height: 1.8em;
    }

    footer ul li {
        display: block;
        color: #bfbfbf;
        font-weight: 400;
        font-size: 15px;
        line-height: 1.8em;
        margin: 0.7em 0;
    }

footer-list i {
    padding-right: 10px;
    color: #ffa41f;
}

footer ul li a {
    color: #bfbfbf;
    font-size: 13px;
    font-weight: 600;
    display: block;
    padding: 5px 0px;
    text-decoration: none;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

    footer ul li a:hover {
        color: #ffa41f;
    }

footer ul li.hd {
    color: #a400fd;
}


/*--//footer--*/

/*--/copyright--*/

.copyright ul li {
    display: inline-block;
    padding: 0 10px;
}

a.facebook {
    color: #fff;
    font-size: 16px;
}

    a.facebook:hover {
        color: #a400fd;
    }

.copyrighttop {
    float: right;
}

.copyrightbottom {
    float: left;
}

.copyright {
    background: #141415;
    color: #fff;
    border-top: 1px solid rgba(25, 24, 24, 0.58);
}

.copyrightbottom p {
    color: #fff;
    letter-spacing: 1px;
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
}

.copyrightbottom a {
    color: #2ee58f;
    text-decoration: none;
}

.contact-info h4 {
    font-style: normal;
    font-weight: 300;
    font-size: 1.3em;
    line-height: 1.71;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: #fff;
}

.phone p a:hover {
    color: #fff;
}

.phone p a {
    color: #808080;
}

.copyrightbottom a:hover {
    color: #fff;
}

.copyrighttop h4 {
    font-size: 0.95em;
}


/*--Contact --*/
.contact-page {
    background: #2f2f2f;
}

    .contact-page h3.tittle-w3layouts {
        color: #fff;
    }

.contact-w3l-footer-w3 h4 {
    text-align: left;
    font-weight: inherit;
    font-size: 24px;
    letter-spacing: 1px;
    margin-bottom: 13px;
    text-transform: capitalize;
    color: #fed700;
}

    .contact-w3l-footer-w3 h4:nth-child(3) {
        margin-top: 1em;
    }

@media(min-width:992px) {
    .contact-eql {
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
    }
}

.contact-left {
    flex-basis: 38%;
    -webkit-flex-basis: 38%;
}

.contact-middle {
    flex-basis: 60%;
    -webkit-flex-basis: 60%;
}

.contact-left,
.contact-middle {
    padding: 2em;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.42);
}

.add-info span {
    font-size: 1.1em;
    color: #ffffff;
    display: inline-block;
    margin-right: 1em;
}

.add-info p,
.add-info p a {
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 15px;
    color: #fff;
    text-decoration: none;
}

    .add-info p a:hover {
        color: #fed700;
        text-decoration: none;
    }

.contact-left .social-icons a:nth-child(1) {
    margin-left: 0px !important;
}

.contact-w3l-footer-w3 p.heading-btm,
.sevices-w3layouts p.heading-btm {
    color: #e7e3e3;
}

.contact-middle input[type="text"],
.contact-middle input[type="email"],


.contact-middle p {
    color: #cecece;
    font-weight: bold;
    margin-bottom: 4px;
    margin-left: 5px;
    font-size: 16px;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    outline: none;
}

textarea {
    height: 74px;
    resize: none;
    width: 100%;
}

    textarea:focus {
        outline: none;
    }

.submit {
    float: right;
    margin-top: 10px;
    color: #000;
}

    .submit .glyphicon {
        font-size: 16px;
        border: none;
        padding: 0;
    }

.contact-middle input[type="submit"] {
    background: #fed700;
    border: none;
    border: 2px solid #fed700;
    padding: .7em 2.5em;
    outline: none;
    font-size: 16px;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: #fff;
    margin-top: 2em;
}

    .contact-middle input[type="submit"]:hover {
        background: transparent;
        color: #fff;
    }

.mid-info p a,
p.paragraph-w3-agile a {
    text-decoration: none;
}

    .mid-info p a:hover,
    p.paragraph-w3-agile a:hover {
        text-decoration: none;
        color: #fff;
    }

/*--//Contact --*/
/*--contact Inner--*/



.contact-fields-w3ls {
    margin-bottom: 1em;
}

    .contact-fields-w3ls:nth-child(4) {
        margin-bottom: 0;
    }

.map-section {
    padding: 1em 1em .7em;
    background: #eee;
}

    .map-section iframe {
        border: none;
        width: 100%;
        height: 320px;
    }

/*--//contact Inner--*/
h4.modal-title {
    font-size: 24px;
    color: #a400fd;
    font-weight: 500;
    letter-spacing: 2px;
}

.modal-body p {
    font-size: 14px;
    color: #777;
    line-height: 1.8em;
    padding: 20px 0;
}
/*-- bottom-to-top --*/
#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 24px;
    right: 3%;
    overflow: hidden;
    z-index: 999;
    width: 32px;
    height: 32px;
    border: none;
    text-indent: 100%;
    background: url(../img/move-top.png) no-repeat 0px 0px;
}

#toTopHover {
    width: 32px;
    height: 32px;
    display: block;
    overflow: hidden;
    float: right;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}

/*-- //bottom-to-top --*/

/*--responsive--*/

@media(max-width: 1680px) {
}

@media(max-width: 1600px) {
}

@media(max-width: 1440px) {
}

@media(max-width: 1366px) {
}

@media(max-width: 1280px) {
    .navbar-light .navbar-nav .nav-link {
        padding: 26px 16px;
    }

    .banner-texto-posicion {
        left: 13%;
        top: 37%;
    }
}

@media(max-width: 1080px) {
    .navbar-light .navbar-nav .nav-link {
        padding: 26px 12px;
        font-size: 14px;
    }

    .navbar-light .navbar-brand {
        font-size: 46px;
        letter-spacing: 1px;
    }

    .banner-texto-posicion {
        left: 5%;
        top: 30%;
    }

    .banner-inicio, .banner-segundo, .banner-tercero, .banner-cuarto, .banner-fin, .banner-agile {
        min-height: 544px;
    }

    .pager {
        bottom: 120px;
        left: 45%;
    }
}

@media(max-width: 1050px) {
}

@media(max-width: 1024px) {
}

@media(max-width: 991px) {
    .navbar-toggler {
        padding: 0.50rem 0.8rem;
    }

    .navbar-light .navbar-toggler {
        color: #fff;
        border-color: #fff;
        border-radius: 0;
    }

    .navbar-light .navbar-nav .nav-link {
        padding: 15px 0;
        font-size: 16px;
    }

    ul.navbar-nav.ml-auto.text-center.mr-xl-5 {
        background: rgba(80, 128, 103, 0.75);
    }

    .footer-grid:nth-child(3), .footer-grid:nth-child(4) {
        margin-top: 1.5em;
    }

    .banner-agile-1 {
        min-height: 300px;
    }

    .copyrighttop {
        float: none;
        text-align: center;
        margin-bottom: 1em;
    }

    .copyrightbottom {
        float: none;
        text-align: center;
    }

    .wthree_text {
        padding-top: 4.5em;
    }
}

@media(max-width: 900px) {
}

@media(max-width: 800px) {
    .banner-texto h3 {
        font-size: 42px;
    }

    .banner-texto p {
        width: 100%;
    }

    .banner-texto-posicion {
        left: 0%;
        top: 30%;
    }
}

@media(max-width: 768px) {
    .banner-inicio, .banner-segundo, .banner-tercero, .banner-cuarto, .banner-fin, .banner-agile {
        min-height: 520px;
    }
}

@media(max-width: 736px) {
    .banner-agile-1 {
        min-height: 270px;
    }

    .contact-fields-w3ls {
        margin-top: 1em;
    }

    .agile-info_packages_left2 {
        margin-top: 1.5em;
    }
}

@media(max-width: 667px) {
}

@media(max-width: 640px) {
    .banner-agile-1 {
        min-height: 250px;
    }

    .banner-texto h3 {
        font-size: 37px;
    }

    .banner-inicio, .banner-segundo, .banner-tercero, .banner-cuarto, .banner-fin, .banner-agile {
        min-height: 500px;
    }
}

@media(max-width: 600px) {
}

@media(max-width: 568px) {
    .footer-grid:nth-child(2) {
        margin-top: 1.5em;
    }

    .wthree_text {
        padding-top: 9.5em;
    }

    .banner-texto h3 {
        font-size: 30px;
    }

    .banner-texto p {
        font-size: 14px;
    }

    .banner-inicio, .banner-segundo, .banner-tercero, .banner-cuarto, .banner-fin, .banner-agile {
        min-height: 470px;
    }
}

@media(max-width: 480px) {
    .navbar-light .navbar-nav .nav-link {
        padding: 11px 0;
        font-size: 15px;
    }

    .navbar-light .navbar-brand {
        font-size: 42px;
    }

    .navbar-toggler {
        padding: 0.40rem 0.8rem;
    }

    .banner-agile-1 {
        min-height: 230px;
    }

    .w3l_header {
        font-size: 35px;
    }

    footer h3 {
        font-size: 1.4em;
    }

    .banner-texto h3 {
        font-size: 29px;
    }

    .pager {
        bottom: 65px;
        left: 39%;
    }

    .banner-texto-posicion {
        top: 28%;
    }

    .banner-inicio, .banner-segundo, .banner-tercero, .banner-cuarto, .banner-fin, .banner-agile {
        min-height: 430px;
    }

    .new_top h3 {
        font-size: 18px;
    }

    .test-tooltip1:after {
        bottom: -7%;
    }
}

@media(max-width: 440px) {
    footer p {
        font-size: 14px;
    }

    .copyrightbottom p {
        font-size: 14px;
    }

    .map-section iframe {
        height: 240px;
    }

    .wthree_text {
        padding-top: 7.5em;
    }

    p.card-text {
        font-size: 14px;
    }
}

@media(max-width: 414px) {
    .banner-agile-1 {
        min-height: 200px;
    }
}

@media(max-width: 384px) {
    .wthree_text {
        padding-top: 6.5em;
    }
}

@media(max-width: 375px) {
    .pager {
        bottom: 29px;
        left: 35%;
    }
}

@media(max-width: 320px) {
    .navbar-light .navbar-nav .nav-link {
        padding: 10px 0;
        font-size: 14px;
    }

    .navbar-light .navbar-brand {
        font-size: 40px;
    }

    h3.title {
        font-size: 32px;
    }

    .banner-agile-1 {
        min-height: 170px;
    }

    .w3l_header {
        font-size: 32px;
    }

    .wthree_text {
        padding-top: 5em;
    }

    .choose_top {
        padding: 55px 28px;
    }

    .banner-texto h3 {
        font-size: 26px;
    }

    .banner-texto-posicion {
        top: 20%;
    }

    .banner-inicio, .banner-segundo, .banner-tercero, .banner-cuarto, .banner-fin, .banner-agile {
        min-height: 390px;
    }

    .banner-texto p {
        padding: 0 10px !important;
    }

    .pager {
        bottom: 42px;
        left: 33%;
    }

    .tex-t {
        padding: 2em 1em 0;
    }

    .test-tooltip1:after {
        bottom: -5%;
    }
}
/*--//responsive--*/
